* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* STYLE CONTAINER */
.container {
    width: 80%;
    height: 100%;
    margin: 50px auto;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
}

.imgElement{
    height: 100%;
    display: none;
}

.imgElement img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* STYLE CONTENUTO */
.imgElement.active {
    display: block;
}

.pulsanti {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pulsanti .back, .pulsanti .go {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 8px;
    margin: 0 5px;
    cursor: pointer;
}